.bar {
  display: flex;
  flex-direction: row;
  height: 20px;
}

.bar > div {
  flex: 1 1 10px;
  background-color: black;
  transform: scale(0);
  height: 20px;
}

@keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.bar > div {
  animation: expand 0s;
  animation-fill-mode: forwards;
}