@import "vars";
@import "syntax-highlighting";

* {
  outline: none;
}

body {
  color: $color-default;
  margin: 0;
  padding: 0;
  background-color: $bg-default;
  font-family: $font-sans;
  line-height: 1.4;
  font-size: 16px;
}

a {
  color: $color-link;
}

a.btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 14px 10px;
  line-height: 1;

  &.black {
    background: $btn-bg-black;
    border: $btn-border-black;
    color: $btn-color-black;
  }
  &.white {
    background: $btn-bg-white;
    border: $btn-border-white;
    color: $btn-color-white;
  }
}

h1 a, h2 a, h3 a, h4 a, h4 a {
  text-decoration: none;
  &:hover {text-decoration: underline;}
}

.code,
.bash {
  background: #111;
  color: #fff;
  padding: 1rem;
  margin: 1em 0;
  font-family: $font-mono;
  white-space: pre;
  overflow: auto;

  .comment { color: #bbb; }
  .keyword { color: #ff0060; }
  .literal { color: #ffbf00; }
  .string { color: #68ff00; }
}

.usage {
  background: #f5f5f5;
  padding: 1rem 1.2rem;
}

.info-cta,
.info-aside {
  background: #f5f5f5;
  padding: 2rem 2.5rem;
  margin: 2em 0;
}

.info-aside {
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

.info-cta {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  text-decoration: none;

  &:hover {
    background: #eee;
  }

  span {
    text-decoration: underline;
    margin: 0 0.5ch;
  }

  img {
    margin-right: 1rem;
  }
}

/* thanks to https://avexdesigns.com/blog/responsive-youtube-embed */
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.linkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 2em 0;

  a {
    background: #f5f5f5;
    text-align: center;
    text-decoration: none;
    padding: 2.5rem 0.5em;

    img {
      display: block;
      width: 50px;
      height: 50px;
      object-fit: contain;
      margin: 0 auto 0.7rem;
    }

    &:hover {
      background: #eee;
    }
  }

  &.light a {
    background: #fff;
    border: 1px solid #555;
    border-radius: 4px;

    &:hover {
      background: #f5f5f5;
    }
  }
}

.external::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAMJlWElmTU0AKgAAAAgABwESAAMAAAABAAEAAAEaAAUAAAABAAAAYgEbAAUAAAABAAAAagEoAAMAAAABAAIAAAExAAIAAAARAAAAcgEyAAIAAAAUAAAAhIdpAAQAAAABAAAAmAAAAAAAAABIAAAAAQAAAEgAAAABUGl4ZWxtYXRvciAzLjkuMgAAMjAyMDoxMjoxNiAxMToxMjo0OAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAADKADAAQAAAABAAAADAAAAAAo6KMHAAAACXBIWXMAAAsTAAALEwEAmpwYAAADqGlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNi4wLjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM6ZXhpZj0iaHR0cDovL25zLmFkb2JlLmNvbS9leGlmLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyI+CiAgICAgICAgIDx0aWZmOkNvbXByZXNzaW9uPjA8L3RpZmY6Q29tcHJlc3Npb24+CiAgICAgICAgIDx0aWZmOlJlc29sdXRpb25Vbml0PjI8L3RpZmY6UmVzb2x1dGlvblVuaXQ+CiAgICAgICAgIDx0aWZmOlhSZXNvbHV0aW9uPjcyPC90aWZmOlhSZXNvbHV0aW9uPgogICAgICAgICA8dGlmZjpZUmVzb2x1dGlvbj43MjwvdGlmZjpZUmVzb2x1dGlvbj4KICAgICAgICAgPHRpZmY6T3JpZW50YXRpb24+MTwvdGlmZjpPcmllbnRhdGlvbj4KICAgICAgICAgPGV4aWY6UGl4ZWxYRGltZW5zaW9uPjEyPC9leGlmOlBpeGVsWERpbWVuc2lvbj4KICAgICAgICAgPGV4aWY6Q29sb3JTcGFjZT4xPC9leGlmOkNvbG9yU3BhY2U+CiAgICAgICAgIDxleGlmOlBpeGVsWURpbWVuc2lvbj4xMjwvZXhpZjpQaXhlbFlEaW1lbnNpb24+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+UGl4ZWxtYXRvciAzLjkuMjwveG1wOkNyZWF0b3JUb29sPgogICAgICAgICA8eG1wOk1vZGlmeURhdGU+MjAyMC0xMi0xNlQxMToxMjo0ODwveG1wOk1vZGlmeURhdGU+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpXPwO+AAAA6klEQVQoFXXQvwtBURTA8ff8GhltVn8AMdiEUvgDLBL5J0x2JlZZlD9ACllMVotBSlImEylJfnzP5dbryqnPee/cc++7913b+h9+Wk0EcMMDcw/pX1xpHHBEBlHYNimHOHxwxpJigCQ6OGHtJjWQwA6uLx7WBDH0UcUTQTnSCyPU4YwsRQ8lzCAfPel/8FI4I0/RRRlbFNGCS45gRoEBmVyB7FxDBBec9Q68qwiT25AzD9XI58hypSrMBXtGU9h82r9ZH+n+bcndm5N1T02RHeSW5EbMH1cTSGmMdSELppBFIT1oPFfUCz32BgZ1LF5mAF/HAAAAAElFTkSuQmCC);
  position: relative;
  left: 4px;
  top: -1px;
  opacity: 0.8;
  margin-right: 5px;
}
