@import "vars";

footer {
  background: $bg-footer;
  margin-top: 3rem;
  padding: 2rem 0;

  .footer-inner {
    max-width: $max-width-footer;
    margin: 0 auto;
    color: #666;

    .linklists {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      line-height: 1.8;

      h5 {
        margin: 0;
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .copyrights {
      margin-top: 2.5rem;
      padding-top: 2rem;
      border-top: 1px solid #ccc;
    }
  }
}
