@import "vars";

footer {
  background: $bg-footer;
  margin-top: 3rem;
  padding: 0 0 2rem;

  .patreon-cta {
    background: #000;
    color: #fff;
    padding: 1rem 0;
    margin-bottom: 2rem;
    text-align: center;

    a {
      color: inherit;
    }

    img {
      display: inline-block;
      width: 12px;
    }

    .patreon-cta-inner {
      max-width: $max-width-footer;
      margin: 0 auto;
      padding: 0 1em;
    }
  }

  .footer-inner {
    max-width: $max-width-footer;
    margin: 0 auto;
    color: #444;

    .footer-linklists {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      line-height: 2;

      h5 {
        margin: 0;
        color: #222;
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .copyrights {
      margin-top: 2.5rem;
      padding-top: 2rem;
      border-top: 1px solid #ccc;
    }
  }
}

@media only screen and (max-width: 800px) {
  footer .footer-inner {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 480px) {
  footer .footer-inner .footer-linklists {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    text-align: left;

    a {
      display: block;
      border: 1px solid #ccc;
      margin-bottom: 0.2rem;
      padding: 0.5rem 0.9rem;
    }
  }
}