@import 'vars';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-mono;
  padding: 1rem;

  img.logo {
    display: block;
    height: 30px;
  }
}

header.desktop {
  max-width: $max-width-default;
  margin: 0 auto;

  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    margin-right: 2rem;
    font-weight: bold;
    border-bottom: 2px solid transparent;

    &:hover {
      text-decoration: underline;
    }

    &.current {
      border-bottom: 2px solid;
    }
  }

  img.icon {
    display: block;
    height: 22px;
  }
}

body.wide header {
  max-width: $max-width-wide;
}

header.mobile {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  background: #fff;
}

#mobile-menu {
  display: none;
  position: fixed;
  top: 3.5rem;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  background: #eee;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px #0001;

  &.open {
    display: block;
  }

  a {
    display: block;
    border-top: 1px solid #ccc;
    padding: 1rem;
    text-decoration: none;
    font-size: 18px;
  }
}

@media only screen and (max-width: 720px) {
  header.desktop {
    display: none;
  }
  header.mobile {
    display: flex;
  }
}