.seeding-anim {
  position: relative;
  height: 40px;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem;

  .node {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #333;
    border: 5px solid #fff;
    z-index: 2;

    &.one { left: 0; }
    &.two {
      left: 50%;
      transform: translateX(-50%);
    }
    &.three { right: 0; }

    &:after {
      content: attr(data-label);
      position: absolute;
      top: -15px;
      font-family: $font-mono;
      font-size: 9px;
      font-weight: bold;
      white-space: nowrap;
    }

  }

  .stream {
    position: absolute;
    top: 0;
    width: 200px;

    &.one { left: 20px; }
    &.two { right: 20px; }

    .bit {
      position: absolute;
      width: 4px;
      height: 4px;
      background: #555;
      z-index: 1;
      top: 18px;
    }

    &.one .bit {
      animation: bits-right 2s infinite linear;
    }

    &.two .bit {
      animation: bits-left 2s infinite linear;
    }
  }
}

@keyframes bits-left {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes bits-right {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

@media only screen and (max-width: 700px) {
  section.intro {
    margin-bottom: 1em;

    h2 {
      text-align: center;
      font-size: 23px;
      margin: 1em 0;
    }
  }
}

@media only screen and (max-width: 420px) {

  .seeding-anim {
    width: 300px;

    .stream {
      width: 150px;
    }
    .node.one:after {
      left: -1px;
      top: -20px;
    }
    .node.two:after {
      left: -10px;
      top: -20px;
    }
    .node.three:after {
      left: -1px;
      top: -20px;
    }
  }
}