$font-mono: 'ibm_plex_monoregular';
$font-sans: 'ibm_plex_sansregular';

$max-width-default: 960px;

$bg-default: white;

$color-default: black;
$color-link: black;
$color-awesome: #c609c6;

$btn-bg-black: black;
$btn-border-black: 1px solid black;
$btn-color-black: #fff;
$btn-bg-white: white;
$btn-border-white: 1px solid black;
$btn-color-white: $color-default;