---
layout: layouts/base
css: css/pages/awesome-hacks.css
title: "Awesome Hacks | Hypercore Protocol"
description: "A collection of cool programs and demos built using Hypercore Protocol."
---

<main>
  <div class="awesome-hack">
    <div class="description">
      <h2><img src="<%= rootPath %>images/icons8/command-line-50.png"> <a href="https://github.com/mafintosh/hyperbeam" title="Hyperbeam">Hyperbeam</a></h2>
      <p>
        A 1-1 end-to-end encrypted internet pipe powered by Hyperswarm and Noise.
      </p>
      <p>
        <a class="btn black" href="https://github.com/mafintosh/hyperbeam" title="Hyperbeam">Source code</a>
      </p>
    </div>
    <div class="bash"><span class="comment"># on your computer</span>
echo "hello world" | hyperbeam
<span class="comment"># => Passphrase: foo bar baz</span>

<span class="comment"># on some other computer</span>
hyperbeam foo bar baz > file.txt
cat file.txt
<span class="comment"># => hello world</span></div>
  </div>

  <div class="awesome-hack">
    <div class="description">
      <h2><img src="<%= rootPath %>images/icons8/command-line-50.png"> <a href="https://github.com/mafintosh/hyperphone" title="Hyperphone">Hyperphone</a></h2>
      <p>
        A telephone over Hyperbeam.
      </p>
      <p>
        <a class="btn black" href="https://github.com/mafintosh/hyperphone" title="Hyperphone">Source code</a>
      </p>
    </div>
    <div class="bash"><span class="comment"># on your computer</span>
hyperphone "your name and your friend"

<span class="comment"># on your friend's computer</span>
hyperphone "your name and your friend"</div>
  </div>

</main>

