---
layout: layouts/base
---

<link rel="stylesheet" type="text/css" href="<%= rootPath %>css/pages/index.css">

<main>
  <div class="hero">
    <img src="<%= rootPath %>images/hypercore-protocol.png" id="logo">
    <h1>Hypercore Protocol</h1>
    <p>The peer-to-peer network</p>
    <div class="btns">
      <a class="btn black" title="Install" href="<%= rootPath %>install">Install</a>
      <a class="btn white" title="Guides" href="<%= rootPath %>guides">Guides</a>
    </div>
  </div>
</main>

