---
layout: layouts/guides
---

<h1>The Hypercore Protocol</h1>

<p>
  The Hypercore Protocol is a peer-to-peer network for:
</p>

<ul>
  <li>Connecting devices,</li>
  <li>Sharing files and databases, and</li>
  <li>Building applications.</li>
</ul>

<p>
  Hypercore is inspired by BitTorrent.
  It creates <a href="hyperdrives" title="Hyperdrives">networked datasets</a> which users can <a href="hyperdrives/seeding-drives/" title="Seeding Hyperdrives">seed</a> in a distributed mesh.
  Hypercore includes a variety of tools for <a href="beam" title="Beaming Data">connecting devices</a> and is built on a <a href="dev" title="Developers">very modular API</a> for building custom programs.
</p>