---
layout: layouts/guides
title: Workshops | Hypercore Protocol
description: A collection of workshops for building on the Hypercore Protocol.
---

<h1>Workshops</h1>

<p>
  Workshops are self-contained courses.
  Use them to dive deeper into the underlying ideas of Hypercore Protocol.
</p>

<h2><a href="https://github.com/hypercore-protocol/p2p-indexing-and-search" class="external">P2P Indexing and Search</a></h2>

<p>
  Over the course of this workshop, we'll be learning the ins-and-outs of designing and sharing P2P-friendly data structures, ultimately building up to Hyperbee, a P2P database that supports "sparse querying", where peers reading from the database only download the portions of the database they use, on-demand.
</p>

<p>
  <strong>Link</strong>:
  <a href="https://github.com/hypercore-protocol/p2p-indexing-and-search" class="external">https://github.com/hypercore-protocol/p2p-indexing-and-search</a>
</p>