@import "../layouts/base";

main {
  padding: 4rem 0;
  margin: 0 auto;
}

.awesome-hack {
  border: 1px solid #000;
  padding: 1rem 3rem;
  margin-bottom: 2em;
  font-size: 18px;

  display: grid;
  grid-template-columns: 1fr 450px;
  grid-gap: 2rem;

  h2 img {
    width: 20px;
    height: 20px;
  }

  .btn {
    padding: 0.5rem 1rem 0.6rem;
  }

  .description {
    margin-bottom: 2em;
  }

  .bash {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1050px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .awesome-hack {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 0;

    .description {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  main {
    padding-top: 4rem;

    .awesome-hack {
      padding: 0;
      margin: 0 0 1rem;
      border: 0;

      .bash {
        font-size: 14px;
      }
    }
  }
}