@import "../layouts/base";

.hero {
  text-align: center;
  margin: 8rem 0;
  font-size: 21px;

  img {
    height: 150px;
  }

  .btn {
    width: 100px;
    text-align: center;
    padding: 8px 0 9px;
  }
}