@import "../layouts/base";
@import "../seeding-anim";

.hero {
  text-align: center;
  margin: 15vh 0;
  font-size: 21px;

  h1 {
    font-family: $font-mono;
    margin-bottom: 0;
  }

  img {
    height: 150px;
  }

  p {
    margin: 1rem 0 2rem;
    font-size: 1.1em;
  }
}

.hero, .cta {
  .btn {
    width: 120px;
    text-align: center;
    padding: 8px 0 9px;
  }
}

hr {
  border: 0;
  border-top: 1px solid #000;
  max-width: 2rem;
  margin: 3rem auto;
}

section {
  margin: 6rem auto 6rem;
  padding: 0 1rem;
  text-align: center;
  font-size: 18px;

  h2 {
    font-family: $font-mono;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;

    img {
      margin-right: 1rem;

      &.smaller {
        width: 30px;
      }
    }
  }

  p {
    line-height: 1.6;
  }

  &.code-example {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .columns {
      display: grid;
      grid-template-columns: 2fr 3fr;

      .description {
        background: #eee;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        text-align: left;
        padding: 0.2rem 2rem;
      }

      pre {
        margin: 0;
        border-radius: 4px;
      }
    }
  }

  &.license {
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 530px;

    img {
      margin-right: 2rem;
    }

    h3, p {
      margin: 0;
    }
  }

  .feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  .shell-video {
    display: inline-block;
    background: #000;
    padding: 0.75rem 1rem 0.25rem;
    border-radius: 4px;
    margin: 1em 0;

    video {
      max-width: 85vw;
    }
  }
}

@media only screen and (max-width: 800px) {
  section {
    &.code-example .columns {
      grid-template-columns: 1fr;
      .description {
        border-radius: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    .feature-grid {
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    padding: 0 1rem;
    margin-top: 6rem;
    font-size: 18px;

    img {
      height: 130px;
    }
  }

  section h2 {
    font-size: 19px;

    img {
      width: 30px;

      &.smaller {
        width: 20px;
      }
    }
  }
}