@import "../layouts/base";

.hero {
  text-align: center;
  margin: 8rem 0;
  font-size: 21px;

  h1 {
    font-family: $font-mono;
    margin-bottom: 0;
  }

  img {
    height: 150px;
  }

  p {
    margin: 1rem 0 2rem;
    font-size: 1.1em;
  }

  .btn {
    width: 120px;
    text-align: center;
    padding: 8px 0 9px;
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    padding: 0 1rem;
    margin-top: 6rem;
    font-size: 18px;

    img {
      height: 130px;
    }
  }
}