@import "../layouts/base";

main {
  padding: 2rem 0;
  font-size: 18px;

  h1 img {
    width: 20px;
    height: 20px;
  }

  section {
    margin: 2rem auto 2rem;
    padding: 1.5rem 5rem 2rem;

    &.highlighted {
      border: 1px solid;
    }

    &.secondary {
      color: #666;
    }
  }
}

.install-instructions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 1em;
}