@import "../layouts/base";
@import "../bar-anim";

main {
  padding: 4rem 0;
  max-width: 750px;
  margin: 0 auto;
}

// this is a hack to do tabbed navigation in CSS only
#drive, #swarm, #hyperswarm:target #core, #hyperdrive:target #core {
  display: none;
}
#hyperswarm:target #swarm, #hyperdrive:target #drive {
  display: block;
}
#hyperswarm:target #core-link, #hyperdrive:target #core-link {
  border-bottom: none;
}
#core-link, #hyperswarm:target #swarm-link, #hyperdrive:target #drive-link {
  border-bottom: 5px solid black;
}

#logo {
  width: 100px;
  height: 127px;
  margin: 3rem auto;
  display: block;
}

h1 {
  text-align: center;
}

nav {
  padding-top: 3rem;
  text-align: center;

  a {
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-bottom: 5px solid transparent;
    padding: 5px;
  }

  a:hover {
    border-bottom: 5px solid black !important;
  }
}

h1 + nav {
  padding-top: 0;
}

section {
  margin-top: 4rem;
  text-align: justify;

  h2 {
    font-size: 24px;
    margin: 60px auto;
    text-align: center;
  }

  h3 {
    margin: 50px 0;
    padding-top: 50px;
    border-top: 10px solid black;
    font-size: 19px;
    text-align: center;
  }
}

.videogif {
  overflow: hidden;
  height: 340px;
  max-width: 100%;
}

video {
  width: 100%;
  margin-top: -100px;
  height: 525px;
}

@media only screen and (max-width: 800px) {
  nav a {
    margin: 0 9px;
  }

  nav a {
    margin-bottom: 5px;
  }
}