---
layout: layouts/guides
title: "Using the Hyp CLI | Hypercore Protocol"
description: "The Hyp command-line provides a convenient set of tools for accessing the Hypercore network."
---

<h1>Using the Hyp CLI</h1>

<p>
  The Hyp command-line provides a convenient set of tools for accessing the Hypercore network.
</p>

<p>
  <a class="btn black" href="<%= rootPath %>install/" title="Install Here">Install Here</a>
  <a class="btn white" href="https://github.com/hypercore-protocol/cli" title="Github Repo">Github Repo</a>
</p>

<section>
  <h2>Sharing Hyperdrives</h2>

  <p>
    Hyp's main use-case is sharing Hyperdrives.
  </p>

  <div class="info-aside">
    Hyperdrives are peer-to-peer folders which you can "seed" from one or more device.
    Think of them as virtual networked folders, similar to Torrents.
    Hyp gives you convenient tools for creating, syncing, and seeding hyperdrives.
  </div>

  <p>
    The simplest way to create a hyperdrive is by "syncing" one from a folder:
  </p>

  <div class="bash">hyp sync ./input-folder</div>

  <p>
    The sync command will output the URL of your new hyperdrive, and it will now contain your folder's files.
  </p>

  <p>
    You can then sync the hyperdrive to another device using the same command:
  </p>

  <div class="bash">hyp sync hyper://1234…af ./output-folder</div>

  <p>
    Where <code>hyper://1234…af</code> is your hyperdrive's URL.
  </p>

  <p>
    If you want to update your hyperdrive, resync it with the input folder by running the command again, this time with the URL as the target:
  </p>

  <div class="bash">hyp sync ./input-folder hyper://1234…af</div>

  <p>
    When you create a hyperdrive, it will automatically start seeding in the background.
  </p>

  <div class="info-aside">
    "Seeding" means hosting the Hyperdrive's data on the network.
    Anybody can seed a hyperdrive &mdash; not just the original author.
    The more seeders are online, the faster a drive will download.
  </div>

  <p>
    You can see what drives you're seeding with the info command.
  </p>

  <div class="bash">hyp info</div>

  <p>
    You can start seeding a hyperdrive created by someone else using the seed command:
  </p>

  <div class="bash">hyp seed hyper://1234…af</div>

  <p>
    Use "unseed" to stop seeding.
  </p>
</section>

<section>
  <h2>Beaming Files</h2>

  <p>
    One of Hyp's most convenient tools is the "beam" command.
    It provides an easy flow for piping data from one device to another with an encrypted connection.
  </p>

  <p>
    Pipe the data you want to share using the beam command:
  </p>

  <div class="bash">cat ./my-file.txt | hyp beam</div>

  <p>
    This will generate a pass-phrase which you can enter on the receiving device to connect and output the data:
  </p>

  <div class="bash">hyp beam "the generated phrase" > ./my-file.txt</div>

  <p>
    The beam is only valid for 30-60 minutes and will close as soon as the data has been sent.
  </p>
</section>

<section>
  <h2>Next steps</h2>

  <p>
    There are a number of useful commands for reading and writing the content of a hyperdrive:
  </p>

  <div class="bash">hyp ls hyper://1234…af
hyp cat hyper://1234…af/file.txt
cat diagram.png | hyp put hyper://1234…af/diagram.png</div>

  <a class="info-cta" href="<%= rootPath %>guides/hyp/cheatsheet/" title="Hyp Cheatsheet">
    <img src="<%= rootPath %>images/icons8/info-24.png">
    See the <span>Hyp Cheatsheet</span> to find more useful commands.
  </a>
</section>