---
layout: layouts/guides
title: Seeding Data | Hypercore Protocol
description: The Hyp command-line provides a convenient set of tools for accessing the Hypercore network.
---

<h1><img src="<%= rootPath %>images/icons8/connect-50.png"> Seeding Data</h1>

<p>
  When you create a hyperdrive, it will automatically start seeding in the background.
</p>

<div class="info-aside">
  "Seeding" means hosting the Hyperdrive's data on the network.
  Anybody can seed a hyperdrive &mdash; not just the original author.
  The more seeders are online, the faster a drive will download.
</div>

<p>
  You can see what drives you're seeding with the info command.
</p>

<div class="bash">hyp info</div>

<p>
  You can start seeding a hyperdrive created by someone else using the seed command:
</p>

<div class="bash">hyp seed hyper://1234…af</div>

<p>
  Use "unseed" to stop seeding.
</p>

<p>Relevant commands:</p>

<ul>
  <li><a href="<%= rootPath %>guides/hyp/commands/info/" title="hyp info"><code>hyp info</code></a></li>
  <li><a href="<%= rootPath %>guides/hyp/commands/seed/" title="hyp seed"><code>hyp seed</code></a></li>
  <li><a href="<%= rootPath %>guides/hyp/commands/unseed/" title="hyp unseed"><code>hyp unseed</code></a></li>
</ul>

<style>
  h1 img {
    width: 40px;
    position: relative;
    top: 6px;
    margin-right: 4px;
  }
</style>