---
layout: layouts/guides
title: "Sharing Folders | Hypercore Protocol"
description: "The Hyp command-line provides a convenient set of tools for accessing the Hypercore network."
---

<h1><img src="<%= rootPath %>images/icons8/shared-folder-50.png"> Sharing Folders</h1>

<p>
  Hyp's main use-case is sharing folders using something called a "Hyperdrive."
</p>

<div class="info-aside">
  "Hyperdrives" are peer-to-peer folders which you can "seed" from one or more device.
  Think of them as virtual networked folders, similar to Torrents.
  Hyp gives you convenient tools for creating, syncing, and seeding hyperdrives.
</div>

<p>
  The simplest way to create a hyperdrive is by "syncing" one from a folder:
</p>

<div class="bash">hyp sync ./input-folder</div>

<p>
  The sync command will output the URL of your new hyperdrive, and it will now contain your folder's files.
</p>

<p>
  You can then sync the hyperdrive to another device using the same command:
</p>

<div class="bash">hyp sync hyper://1234…af ./output-folder</div>

<p>
  Where <code>hyper://1234…af</code> is your hyperdrive's URL.
</p>

<p>
  If you want to update your hyperdrive, resync it with the input folder by running the command again, this time with the URL as the target:
</p>

<div class="bash">hyp sync ./input-folder hyper://1234…af</div>

<p>Relevant commands:</p>

<ul>
  <li><a href="<%= rootPath %>guides/hyp/commands/sync/" title="hyp sync"><code>hyp sync</code></a></li>
</ul>

<style>
  h1 img {
    width: 40px;
    position: relative;
    top: 6px;
    margin-right: 4px;
  }
</style>